@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Fuzzy+Bubbles&display=swap');

* {
  columns: 300px;
}

.img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 0; /* Remove margin-bottom since container handles spacing */
  transition: transform 0.3s ease-in-out;
  display: block;
}

.img:hover {
  transform: scale(1.01);
}

html {
  margin: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: rainbow-glow 1.5s infinite, fadeIn 0.5s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #091416;
}

.search-input-large {
  width: 300px;
  height: 40px;
  font-size: 16px;
}

@keyframes rainbow-glow {
  0% {
    box-shadow: 0 0 10px red;
  }
  20% {
    box-shadow: 0 0 10px orange;
  }
  40% {
    box-shadow: 0 0 10px yellow;
  }
  60% {
    box-shadow: 0 0 10px green;
  }
  80% {
    box-shadow: 0 0 10px blue;
  }
  100% {
    box-shadow: 0 0 10px purple;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.image-container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  display: inline-block; /* Add this to match column width */
  transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
}

.image-container:hover {
  transform: scale(1.05); /* Scale the image slightly on hover */
}

.quote-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure overlay matches image width */
  height: 100%; /* Ensure overlay matches image height */
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1; /* Set opacity to 1 by default */
  transition: opacity 0.3s ease-in-out;
  border-radius: 15px;
}

.quote-overlay p {
  color: white;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  font-family: 'Caveat', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
